body{
  width: 100vw;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
}
#navopt{
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-inline-start: 0;
  background-color: #8348ad;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100vw;
  height: auto;
}
#navopt li{
  font-weight: bold;
  display: inline;
  color: white;
  float: right;
  border-right: solid white 1px;
}
#navopt li:first-child{
  border-right: none;
}
#navopt li:last-child{
  padding-left: .5vw;
  float: left;
  display: block;
  font-size: 2rem;
  border-right: none;
  height: 100%;
}
#navopt a{
  display: block;
  color: white;
  text-decoration: none;
  padding: 8px;
  transition: background-color 1s;
}
#navopt a:active{
  background-color: white;
  color: #8348ad;
}
#navopt a:hover{
  background-color: white;
  color: #8348ad;
}
#content{
  width: 100vw;
}

p{
  text-indent: 4vw;
}
#center_panel{
  width: 60%;
  border-right: solid black 2px;
}
#side_panel{
  width: 20%;
  padding: 1%;
}
#profile{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: auto;
}
h1{
  font-size: 5vh;
}
#footer{
  display: block;
  width: 100vw;
  background-color: #a7adba;
  position: fixed;
  bottom: 0;
}
