body{
  width: 100%;
  font-family: "Times New Roman", serif;
  font-size: 62.5%;
  margin: 0;
/*  background-color: #bbbbbb;*/
  background-image: linear-gradient(to bottom right, #8348ad, white);
  background-repeat: no-repeat;
}
#menu{
  background-color: #8348ad;
  color: white;
  cursor: pointer;
  border: none;
  font-size: 1.5rem;
}
#dropdown{
position: relative;
display: inline-block;
}
#navopt{
opacity: 0;
  position: absolute;
  min-width: 10%;
  background-color: #8348ad;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  transition: opacity 1s linear;
}
#navopt a{
  display: block;
  background-color: inherit;
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
  padding: 8px;
  transition: color 1s linear;
  transition: background-color 1s linear;
}
#navopt a:hover{
  background-color: white;
  color: #8348ad;
}
#dropdown:hover #navopt{
  display: block;
  opacity: 1;
}
#menu:hover {
  color: #8348ad;
  background-color: white;
}
#footer{
  display: block;
  width: 100%;
  background-color: #a7adba;
  position: absolute;
}
#footer p{
  color: black;
  display: inline;
}
.content{
  width: 90%;
  z-index: -1;
  display: block;
  height: 80%;
}
/* INDEX STYLE*/
p{
  text-indent: 4%;
  font-size: 1rem;
}
.center_panel{
  padding: 1vw;

  width: 60%;
  border-right: solid black 2px;
}
.side_panel{
  width: 20%;
  padding: 1%;
}
.empty_side{
  background: inherit;
  width: 10%;
  padding: 1%;
}
#profile{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: auto;
}
h1{
  font-size: 1.75rem;
}
ul{
  font-size: 1.25rem;
  padding-left: 0;
}
ul li{
  list-style-type: none;
  font-weight: bold;
  padding-bottom: 2vh;

}
ul li ul li{
  padding-left: 1vw;
  list-style-position: inside;
  list-style-type: square;
  font-size: .9rem;
  font-weight:normal;
  padding-bottom: 1vh;
}

/*END INDEX STYLE*/
/*PROJECT STYLE*/
.thumbnail{
  width = 100%;
}
h3{
  vertical-align: top;
	font-size: 1.3rem;
  text-align: center;
}
p{
	font-size: 1rem;
}
#gallery{
  text-align: left;
  display: block;
  border-spacing: 10px;
	width: 80vw;
	margin: auto;
}
table td{
  padding: 0;
	width: 24%;
	background: white;
}
table img{
	background: white;
	width: 100%;
	height: 40vh;
  cursor: grab;
}
#lightbox{
  display: none;
  background-color: rgba(0,0,0,0.8);
  z-index: 1;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
.lightbox_img{
  display: none;
  width: 70vw;
  height: auto;
}
/*END PROJECT STYLE*/
/*RESUME STYLE*/
#resumeContent{
  margin:auto;
  padding: 2%;
  width: 80%;
  background: white;
  height: 100vh;
}
#resumeContent h1,h2,h3,h4,h5,p,ul,ul li{
  margin:0;
  padding:0;
  text-indent: 0;
}
.basic-info{
  text-align: center;
}
h4{
  font-size: 1.5rem;
}
h5{
  font-size: 1.25rem;
}
.block{
  margin-bottom:2rem;
}
#resumeContent ul li{
  list-style-type:disc;
  list-style-position: inside;
  font-weight: normal;
  font-size: 1rem;
}
