body{
  width: 100vw;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  margin: 0;
}
#header{
  position: fixed;
  top: 0;
  font-size: 1rem;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  background-color: #8348ad;
  display: block;
}
#header h1{
  position: relative;
  float: right;
  padding-right: 5%;
  color: white;
  border: solid 1px red;
}
#navopt{
  background-color: #8348ad;
  list-style-type: none;
  overflow: hidden;
  height: 100%;
}
#navopt li{
  font-weight: bold;
  display: inline;
  color: white;
  float: left;
  border-left: solid white 1px;
}
#navopt li:first-child{
  border-left: none;
}
#navopt a{
  display: block;
  color: white;
  text-decoration: none;
  padding: 8px;
  transition: background-color 1s;
}
#navopt a:active{
  background-color: white;
  color: #8348ad;
}
#navopt a:hover{
  background-color: white;
  color: #8348ad;
}
/* INDEX STYLE*/
#content{
  width: 100vw;
}

p{
  text-indent: 4vw;
}
.center_panel{
  width: 60%;
  border-right: solid black 2px;
}
.side_panel{
  width: 20%;
  padding: 1%;
}
#profile{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: auto;
}
h1{
  font-size: 5vh;
}

/*END INDEX STYLE*/
/*PROJECT STYLE*/
table{
  border: solid 1px black
}
.thumbnail{
  padding: 5%;
  width: 20%;
}
.thumbnail img{
  width: 100%;
  height: auto;
  padding-left: none;
}
/*END PROJECT STYLE*/
#footer{
  display: block;
  width: 100vw;
  background-color: #a7adba;
  position: fixed;
  bottom: 0;
}
