* {
    margin: 0 auto;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
    width: 100%;
    height: 100%;
}

input {
    width: 50%;
    font-size: 1.2rem;
    padding: 0.6rem 1.2rem;
    margin: 1rem;
}


button {
    font-size: 1.2rem;
    padding: 0.6rem 1.2rem;
    margin: 1rem;
}

h1{
  font-size: 2.5rem;
}
h2{
  font-size: 2rem;
}
p{
  font-weight: bold;
  font-size: 1.75rem;
}

a{
  text-decoration: none;
  font-size: 2rem;
  color: blue;
}
li {
    font-size: 1.75rem;
    font-weight: bold;
}

.navbar{
	width: 20%;
}

#app {
    width: 80%;
    height: 100%;
    background-color: #CACACA;
}
table{
  margin: 5% 0 0 0;
  width: 100%;
  height: 60vh;
  border-collapse: collapse;

}

table, td{
  border: solid 1px black;
}
#footer{
  width: 100%;
  background-color: gray;
  position: fixed;
  bottom: 0;
}
.leftbar{
  padding: 0 2rem;
  border-right: solid 1px;
  border-color: inherit;
}
.left-align{
  text-align:left;
}
